#link{
  color: blue;
}

.input-group{
  margin-top: -1%;
}

.chat-conteudo{
    display: grid;
    grid-template-rows: 40px auto 40vw;
    height: calc(100vh - 220px);

}


@media screen and (min-width: 360px) and (max-width: 400px) {
  .chat-conteudo{
    display: grid;
    grid-template-rows: 40px auto 27vw;
    height: calc(100vh - 220px);

}}

@media screen and (min-width: 411px) and (max-width: 420px) {
  .chat-conteudo{
    display: grid;
    grid-template-rows: 40px auto 20vw;
    height: calc(100vh - 220px);

}

}

.chat-header{
text-align: center;
}
 

.chat-conversa{
overflow: auto;
}
 
.usuario{
    padding: 7px;
    display: flex;
    flex-direction: row;

}

.iracema{
    padding: 7px 7px;
    display: flex;
    flex-direction: row;
 
  
}




.ROOT_CSS{
width: 85vw;
height: 110vw ;
}

.chat-mensagem{
    margin-left: 2%;
    width: 80vw;
    /* height: 90vw; */

}


#fechar{
    margin-left: 86%;
}

#imgx{
    width: 18px;
    height: 18px;
}

#conteudo{
   background-color: #f4f4f4;
   border-radius: 8px 8px;
   display: none;
   position: relative;
   width: 85vw;
   height: 145vw;
}

#userconversa{
  width:50px;
  height: 48px;
}

#botconversa{
  width:50px;
  height: 48px;
  border-radius: 50%;
}

 #teste{
  width:95%;
  height: 100%; 
  word-wrap: break-word;
}

#textouc{
  width:65vw;
  margin-left: 2%;
} 

#teste2{
  width:100%;
  height: 100%; 
  word-wrap: break-word;
}
#teste3{
  width:100%;
  height: 100%; 
  word-wrap: break-word;
}

#teste4{
  width:100%;
  height: 100%; 
  word-wrap: break-word;
}

#textobc{
  width:65vw;
  margin-left: 2%;
} 


#imgchat{
    position: fixed;
    width: 70vw;
    height: 85vh;
    top: 10%;
    left:10%;
}

#img{
    position: relative;
    z-index:4;
    margin: 1% 78%;
    width:40%;
    border-radius: 50%;
    top: 80%;
  
    animation: pulse 1s infinite;
    display: table;
    animation-direction: alternate;
    -webkit-animation-name: pulse;
    animation-name: pulse;
  }


  @keyframes pulse {
    0% {
      transform: scale(1);
     
    }
    100% {
      transform: scale(1.1);
     
    }
  }
  
   @-webkit-keyframes pulse {
    0% {
      -webkit-transform: scale(1);
     
    }
    100% {
      -webkit-transform: scale(1.1);
     
    }
  }
  